DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/secure_dashboard?schema=public"
AUTH_SECRET="super_secret_string_for_later"
GOOGLE_CLIENT_ID="abcxyz"
GOOGLE_CLIENT_SECRET="abcxyz"
GITHUB_CLIENT_ID="abcxyz"
GITHUB_CLIENT_SECRET="abcxyz"